@import '../../utils/style/GlobalStyle.scss';



.Home {
    * {
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box; /* Inclut padding et bordure dans la largeur */
    margin: 0;
    padding: 0;
   }
    
    &__Container {
        display: flex;
        justify-content: center;
        margin: 0;

        &__Banner{
            @include Banner-Style($breakpoint-mobile);
            background-image: url(../../Assets/eric.png);
            background-position: 20% 35%;
            
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6); /* Calque noir à 60% */
                border-radius: 25px;
                z-index: 1;
            }
        }
        &__Content{
            color:white;
            z-index:2;
        }
    
    
        &__Cards{
            margin: 50px 0;            
            background-color: #F6F6F6;
            width: calc(100% - 212px);
            border-radius: 25px;
            &__List{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 47px;
                padding: 40px;
                border-radius: 10px;

                & li {
                    position: relative;
                }

                & img{
                    border-radius: 10px;
                    width: 340px;
                    height: 340px;
                    object-fit: cover;
                    
                }
            }
            &__Title{
                color: white;
                position: absolute;
                font-size: 18px;
                bottom: 10px;
                left: 15px;
                max-width: 60%;
            }
            
        
        } 
    }
}

@media (max-width:600px){
    .Home {

        * { flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        &__Container {
            &__Banner{
                &::before {
                    border-radius: 10px;
                }
            }

            &__Content{
                font-size: 24px;
                font-weight: 700;
                padding: 0px 10px;
                width: 80%;
                
            }
            &__Cards{
                margin: 20px 10px;
                width: calc(100% - 20px);
                background-color: white;
                &__List{
                    gap:20px
                }

                &__Title{
                    left: 15px;
                }
                &__List{
                    padding: 0;
                    & img{
                       width:335px;
                       height: 255px;                        
                    }
                }
            }
        }
    }
}

