@import '../../utils/style/GlobalStyle.scss';


.About{
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__Banner{
        margin-bottom: 40px;
        @include Banner-Style($breakpoint-mobile);
        background-image: url(../../Assets/montage.png);
        background-position: 0% 50%;
    }


    .Accordion{
        &__Title{
            font-size: 24px;
        }
    }
}

.Accordion{
    width: 70%;
}