@import '../../utils/style/GlobalStyle.scss';


.About{
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__Banner{
        margin-bottom: 40px;
        @include Banner-Style($breakpoint-mobile);
        background-image: url(../../Assets/montage.png);
        background-position: 0% 50%;
    }


    .Accordion{
        width: 70%;
        &__Title{
            font-size: 24px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    
.About{
    &__Banner{
        margin-bottom: 20px;
    }
    
    .Accordion{
        width: calc(100% - 20px);
        &__Title{
            font-size: 13px;
        }
        &__Content{
            padding: 10px;
        }
    }
}
}
