.NavContainer {
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 100px;

    

    &__Link{
        font-size: 24px;
        color: black;
        text-decoration: none;
        padding-left: 57px;
    }
    
    .active__link{
        text-decoration: underline;
    }
}

@media (max-width:600px){

    .NavContainer {
        padding: 10px;
        width: calc(100% - 25px);
        &__Logo{
            height: 48px;
        }
        &__Link{
            font-size: 12px;
            padding-left: 26px;
        }
    }
    
    
}



