$breakpoint-mobile:600px;

.ErrorContainer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", system-ui;
    padding-top: 40px;
    padding-bottom: 139px;
    gap:139px;
    &__Number{
        font-size: 288px;
        color: #FF6060;     
        font-weight: 700;  
    }
    &__Content{
        font-size: 36px;
        color: #FF6060;
        font-weight: 500;
        white-space: nowrap;
    }
    &__LinkHome{
        font-weight: 500;
        color: black;
    }
}

@media (max-width: $breakpoint-mobile) {
    .ErrorContainer{
        gap:113px;
        &__Number{
            font-size: 99px;
        }
        &__Content{
            width: calc(100% - 30px);
            font-size: 18px;
            text-align: center;
        }
        &__LinkHome{
            font-size: 14px;
        }
    }
}
