@import '../../utils/style/GlobalStyle.scss';

.Accordion{
    @include Accordion();
    
        & ul{
            list-style: none;
            padding: 0;
            & li{
                padding-top: 2px;
            }
        }
    }

.TimeTo{
    cursor: pointer;
    transition: transform 0.5s ;
    &__Rotate{
        cursor: pointer;
        transition: transform 0.5s ease-in-out ;
        transform: rotate(-180deg);
    }
}
