$breakpoint-mobile:600px;

.Carousel{
    grid-column: 1 / -1;
}

.Housing {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    padding: 0 100px;
    font-size: 18px;    

        &__SellerProfil{
                display: flex;
                grid-row: 2;  
                grid-column: 2;
                justify-content: end;  
                align-items: center;  
            & img{
                border-radius: 100px;
                width: 64px;
                height: 64px;              
            }
            &__Names{
                padding: 8px;                    
                color:#FF6060;
                display: flex;
                flex-direction: column;
                justify-content: center;
           }
        }
    
        &__Title{
            grid-row: 2 ;
            grid-column: 1;
            h2{
                color:#FF6060;
                font-size: 36px;
                font-weight: 500;
                margin: 0;            
            }
            p{
                margin: 0;
            }
        }

        &__Rating{
            display: flex;
            gap: 8px;
            justify-content: end;  
        }

        &__Tags{
            display: flex;
            grid-row: 3;
            gap: 10px;
            
            & span{
            font-size: 14px;
            font-weight: 700;
            padding: 5px 10px;
            background-color: #FF6060;
            color: white;
            border-radius: 10px;
            }
        }
}

.Container__Accordion{
    grid-row: 4;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    gap: 76px;
}





@media (max-width: $breakpoint-mobile) {
.Carousel{
    grid-column: 1/-1 ;
    grid-row:1;
}

.Housing {
    padding: 0 10px;

    &__Title{
        grid-column: 1/-1;
        grid-row: 2;
    }
    &__Tags{
        grid-row: 3;
        grid-column: 1/-1;
    }
    &__SellerProfil{
        grid-row: 4;
        grid-column: 2;
    }
    &__Rating{
        grid-row: 4;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    }
    .Container__Accordion{
        grid-row: 5;
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(100); 
        gap:10px
    }
}


       











