.Housing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Montserrat", system-ui;
    font-weight: 500;
    padding: 0 100px;
    font-size: 18px;    

    &__Container{
        display: flex;
        justify-content: space-between;

        &__SellerProfil{
            display: flex;
            & img{
                border-radius: 100px;
                width: 64px;
                height: 64px;
            }
            &__Names{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color:#FF6060;
            
           }
        }
    
        &__Title{
            h2{
                color:#FF6060;
                font-size: 36px;
                font-weight: 500;
                margin: 0;            
            }
            p{
                margin: 0;
            }
        }

        &__TagsRating{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 24px ;
        }

        &__Rating{
            justify-self:end;
        }

        &__Tags{

            display: flex;
            gap:10px;

            & span{
            background-color: #FF6060;
            color: white;
            padding: 3px 40px;
            border-radius: 10px;
            font-size: 14px;
            }
        }
        &__Accordion{
            display: flex;
            width: 100%;
            gap:76px;
            margin-bottom:30px;
        }

    }
}


        

       











